.article-navigation {
	background-color: $accent-colour;
	width: 100%;
	text-align: center;
	padding: 1em;
}

.article-navigation_link {

	&.is-disabled {
		color: $link--disabled;
	}
}

.article-navigation_link--next {
	margin-left: 2em;

	@include dot();
}