$videoHeight: 909;
$videoWidth: 1265;


#video{
 position: relative;
 background: transparent;
}

.ytplayer-container{
 position: absolute;
 top: 0;
 z-index: -1;
}

.video-container {
 height: 0;
 @include fluid-image-container($videoWidth, $videoHeight);
}