.body-copy {
	@include copy-margin();
	color: $dark-gray;
	@include component-wrapper()

	.component-wrapper & {
		padding-top: 0;
		background-color: #fff;
		clear: none;
		
		@include mq(from, medium) {
			//@include span-columns(8);
		}

		.body-copy_container,
		.body-copy_content {
			width: 100%;
			margin-left: 0;
		}
	}
}

.body-copy_container {
	@include container();

	@include mq(upto, medium) {
		padding: 0 0;
	}

}

.body-copy_headline-container {
	@include mq(from, medium) {
		@include span-columns(3);
	}
}

.body-copy_headline {
	@include mq(upto, medium) {
		padding: 0 1em; 
	}

	&:after {
		display: block;
		content: '';
		background-color: $dark-gray;
		width: 1.5em;
		height: 1px;
		margin-top: .5em;
	}
}

.body-copy_content {
	@include mq(from, medium) {
		@include span-columns(7);
		@include shift(1);
	}

	p {
		@include mq(upto, medium) {
			padding: 0 20px;
		}
	}

	img {
		width: 100%;

		@include mq(from, medium) {
			max-width: 100%;
		}
	}
}

.quote--article + .body-copy {
	margin-top: -2.5;

	@include mq(from, medium) {
		margin-top: -3.5em;
	}
}