$dark-gray: #262E2E;
$medium-dark-gray: lighten($dark-gray, 50%);

$link--disabled: rgba(38, 46, 46, .5);

$gray: #CAC8C7;
$light-gray: rgba(202, 200, 199, .7);

$offWhite: #FBFBFB;
$white: #FFFFFF;

$yellow: #FAE032;
$blue: #5DC1D2;

$body-copy: $dark-gray;

$accent-colour: $yellow;
$detail-colour: $blue;

$page-header--gray: $light-gray;
$background-offwhite: $offWhite;
$background-white: $white;

$black: #000;