.full-width-image--slim {
	position: relative;

	@include mq(upto, medium) {
		min-height: 181px;
		max-height: 181px;
	}

	@include mq(upto, medium) {
		min-height: 300px;
		max-height: 300px;
	}
}

.full-width-image--slim_image {
	@include mq(upto, medium) {
		min-height: 181px;
		max-height: 181px;
		@include center-crop-absolute();
		position: absolute;
	}

	@include mq(upto, medium) {
		min-height: 300px;
		max-height: 300px;
	}
	
	@include mq(from, medium) {
	    max-width: 100%;
	    vertical-align: middle;
	}
}