.full-width-image-quote { 
	color: #fff;
	@include component-wrapper();

	@media screen and (max-width: 850px) {
		overflow: hidden;
		min-height: 235px;
	}

	position: relative;
}

.full-width-image-quote_copy-container {
	@include container();
}



.full-width-image-quote_image {
	@media screen and (max-width: 850px) {
		@include center-crop-absolute();
		position: absolute;
		max-height: 235px;
	}

	@media screen and (min-width: 851px) {
		width: 100%;
	}
}

.full-width-image-quote_copy-wrapper {
	@include vertical-align(absolute);
	
	@include mq(upto, medium) {
		//padding: 0 1em; 
		@include span-columns(10);
	}

	@include mq(from, medium) {	
		@include span-columns(3);
		//@include shift(3);
	}
}