.header {
	position: relative;
	overflow: hidden;
}

.header_img {
	@include mq(upto, medium) {
		min-height: 559px;
		max-height: 559px;
		@include center-crop-absolute();
	}

	@include mq(from, medium) {
		max-width: 100%;
	}
}