.page-intro {
	@include copy-padding();
	padding-top: 10em;
	@include mq(from, medium) {
		padding-top: 10em;
	}
	background-color: $light-gray;
	color: $dark-gray;
	@include component-wrapper()
}

.page-intro_container {
	@include container();
	overflow: auto;
}

.page-intro_headline-container {
	@include mq(from, medium) {
		@include span-columns(3);
	}
}

.page-intro_headline {
	&:after {
		display: block;
		content: '';
		background-color: $dark-gray;
		width: 1.5em;
		height: 1px;
		margin-top: .5em;
	}
}

.headline-xs {
	@include mq(from, medium) {
		display: none;
	}
}

.headline-lg {
	display: none;

	@include mq(from, medium) {
		display: block;
	}
}

.page-intro_intro {
	@include mq(from, medium) {
		@include span-columns(7);
		@include shift(1);
	}
}

.page-intro_copy {
	@include mq(from, medium) {
		@include span-columns(7);
		@include shift(4);
	}
}