.projects-list {
	position: relative;
}

.projects-list_settings {
	@include mq(upto, medium) {
		display: none;
	}
	
	background-color: $light-gray;
	padding-bottom: 4em;
}

.projects-list_settings-wrapper {
	@include container();
    overflow: auto;
}


.projects-list_filter-button {
	float: left;

	&:after {
		display: block;
		content: '';
		background-color: $dark-gray;
		width: 4.5em;
		height: 1px;
		margin-top: .5em;
	}
}

.projects-list_filter-icon {
	width: .7em;
    height: 0.4em;
    margin-left: .4em;
}

.projects-list_filter-wrapper {
	display: inline;
	margin: 0;
    margin-left: 3em;
    padding: 0;
}

.projects-list_filter-item {
	display: none;
    margin-bottom: 1em;

	.filter--is-open & {
		display: block;
	}

	.filter--is-open &:hover {
		text-decoration: underline;
		cursor: pointer;
	}
}

.filter--is-active {
	display: inline;
}

.filter-icon--is-opened {
	display: none;
}

.filter--is-open {
	&.projects-list_filter {
		background-color: #fff;
	}	

	.filter-icon--is-closed {
		display: none;
	}

	.filter-icon--is-opened {
		display: inline-block;
	}
}

.projects-list_view-link {}

.projects-list_view-link--thumbs {
	display: none;

	.view--thumbs & {
		display: block;
	}
}

.projects-list_view-link--map {
	.view--thumbs & {
		display: none;;
	}
}

.projects-list_wrapper {
	@include container();
    margin-bottom: 3em;
	list-style: none;
    overflow: auto;

	@include mq(from, medium) {
	    display: flex;
	    flex-wrap: wrap;
		padding: 0 1em;
	}
}

.project-list_item-link {

	@include mq(upto, medium) {
		margin-top: 2em;
		@include span-columns(12);
	}

    @include mq(from, medium) {
		margin-top: 4em;
		width: 50%;
	    padding: 0 .5em;
	}
}

.projects-list_filter {
	@include span-columns(6);

	display: flex;
    align-items: baseline;
    padding: 1em 2em;
    margin-left: -2em;

    max-width: 400px;

    position: absolute;
    z-index: map-get($z-index, projects-list-filter);
}

.projects-list_view-toggle {
	@include span-columns(6);
	text-align: right;
	float: right;
    padding-top: 1em;
}

.projects-list_view-link-icon {
	width: 1.5em;
    height: 1.5em;
    vertical-align: middle;
    margin-left: .4em;
}

.project-list_item-image {
	width: 100%;
}

.project-list_item-title {
	margin-top: .5em;
}


.projects-list .map {
	opacity: 0;
	position: absolute;
	z-index: -10;
}

.projects-list.show--map {
	.map {
		@include mq(from, medium) {
			opacity: 1;
			position: relative;
			z-index: map-get($z-index, map-visible);
		}
	}

	.projects-list_wrapper {
		@include mq(from, medium) {
			display: none;
		}
	}
}
