.side-nav_item {
	position: relative;

	&:first-child {
		margin-left: 3em;
		@extend %side-nav-parent;
		color: $dark-gray;
	}

	&:first-child:before {
		left: -3em;
		content: '';
	    display: block;
	    width: 2em;
	    height: 1px;
	    background-color: #000;
	    border-radius: 0;
	    @include vertical-align(absolute);
	}

	&:not(:first-child) {
		margin-left: 2em;
	    @extend %side-nav-current;
	    color: $dark-gray;
	    font-family: "Cormorant-Italic", sans-serif;
	    font-style: italic;

		&:before {
			left: -1.2em;
		    content: '';
		    display: block;
		    width: 4px;
		    height: 4px;
		    border-radius: 50%;
		    background-color: #000;
		    @include vertical-align(absolute);
		}
	}
}

.side-nav {
	@include mq(from, medium) {
		clear: both;
		right: -3em;
		position: absolute;
	    top: 100%;
	    transform: rotate(-90deg);
	}

	@include mq(from, xlarge) {
		right: 0;
	}
}

.projects-list .side-nav {
	top: 17em;
	
	@media screen and (max-width: 1000px) {
		display: none;
	}

	@include mq(from, xlarge) {
		right: -2em;
	}
}