.times-container {
    @media screen and (max-width: 1000px) {
        display: none;
    }

    color: $offWhite;
    z-index: 1;
    position: absolute;
    text-align: left;
    width: 500px;
    height: 24px;
    right: -185px;
    bottom: 75%;
    
    //margin-top: -30px;
    -webkit-transform: rotate(-90deg);
    -moz-transform: rotate(-90deg);
    -ms-transform: rotate(-90deg);
    -o-transform: rotate(-90deg);
    filter: progid:DXImageTransform.Microsoft.BasicImage(rotation=3);
    
    @include mq(from, large) {
        //width: 500px;
        bottom: 60%
        //top: 50%;
    }
}


.time-line {
    display: inline-block;
    position: relative;
    margin-right: 30px;
    height: 1px;
    width: 50px;
    margin-left: -35%;
    background: #ffffff;
    top: 13px;
    opacity: 0.35;
    filter: alpha(opacity=35);
    -moz-opacity:0.35;
}

.time-title {
    display: block;
    font-size: 13px;
    font-family: 'Cormorant-MediumItalic', Georgia, serif;
    //font-style: italic;
    margin-bottom: 0px;
    margin-left: 1px;
}

.time-uk-container, 
.time-paris-container, 
.time-nyc-container, 
.time-los-angeles-container {
    font-family: 'SuisseBPIntl-Medium', Georgia, serif;
    display: inline-block;
    vertical-align: top;
    margin-right: 10%;
    width: 70px;
    font-size: 14px;
    position: relative;
}

.time-los-angeles-container,
.time-nyc-container,
.time-uk-container {
    &:after {
        content: '';
        position: absolute;
        right: -30%;
        top: 20px;
        width: 5px;
        height: 4px;
        background-color: #fff;
        border-radius: 100%;
    }
}
