@font-face {
  	font-family: "Cardo-Regular";
  	src: url("fonts/Cardo/Cardo-Regular.ttf");
}

@font-face {
  	font-family: "Cardo-Italic";
  	src: url("fonts/Cardo/Cardo-Italic.ttf");
}

@font-face {
  	font-family: "SuisseBPIntl-Medium";
  	src: url("fonts/SuisseBPIntl/SuisseBPIntl-Medium.otf");
}

@font-face {
  	font-family: "SuisseBPIntl-Bold";
  	src: url("fonts/SuisseBPIntl/SuisseBPIntl-Bold.otf");
}

@font-face {
  	font-family: "SuisseBPIntl-Regular";
  	src: url("fonts/SuisseBPIntl/SuisseBPIntl-Regular.otf");
}

@font-face {
  	font-family: "Cormorant-Italic";
  	src: url("fonts/Cormorant/Cormorant-Italic.ttf");
}

@font-face {
  	font-family: "Cormorant-MediumItalic";
  	src: url("fonts/Cormorant/Cormorant-MediumItalic.ttf");
}


body {
	-webkit-font-smoothing: antialiased;
	font-family: "SuisseBPIntl-Regular", sans-serif;
}

h1,
h2,
h3,
h4,
h5,
h6 {
	font-family: "SuisseBPIntl-Regular", sans-serif;
	margin: 0;
	text-rendering: optimizeLegibility; // Fix the character spacing for headings
}

h1, .heading-1 {
	@extend %heading-1;
  color: #fff;
}

h2, .heading-2 {
	@extend %heading-2;
}

h3, .heading-3 {
	@extend %heading-3;
}

p, .paragraph {
	@extend %paragraph;
}

a {
	text-decoration: none;
	color: #ffffff;
	//text-transform: uppercase;
}

.video_headline--italic {
  font-family: "Cormorant-Italic", sans-serif;
  font-weight: italic;
}

.nav_item {
  font-family: "SuisseBPIntl-Regular";
  @extend %nav;
  color: #000;
}

.nav_subitem {
  font-family: "SuisseBPIntl-Regular";
  @extend %sub-nav;
  color: #000;
}

.featured-project_location,
.project-header_location {
  font-family: "Cormorant-Italic", sans-serif;
  font-weight: italic;
  margin-top: 0;  
  @extend %paragraph-lead;
}

.hero-text_copy {
  font-family: "Cormorant-Italic", sans-serif;
  font-weight: italic;
}

.page-intro_intro p {
  @extend %paragraph-lead;

  @include mq(from, medium) {
    margin-top: 0;
  }
}

.full-width-image-quote_quote,
.quote--background_quote {
  @extend %paragraph-quote;

  font-family: "Cormorant-Italic", sans-serif;

  @include mq(from, medium) {
    margin-top: 0;
  }
}

.full-width-image-quote_quote-by {
  @extend %paragraph-quote-by;

  @include mq(from, medium) {
    margin-top: 0;
  }
}

.quote--background_quote-by {
  font-family: "SuisseBPIntl-Medium", sans-serif;
}

.project-info_label {
  font-family: "SuisseBPIntl-Medium", sans-serif;
}

.map_location {
  font-family: "Cormorant-Italic", sans-serif;
  font-style: italic;
  margin: 0;

  @extend %map-location;
}

.map_link {
  font-family: "Cormorant-Italic", sans-serif;
  font-style: italic;
  margin: 0;
  color: $dark-gray;

  @extend %map-link;
}

.map_title {
  margin: 0;
  font-family: "SuisseBPIntl-Regular", sans-serif;
  @extend %map-title;
}

.related-projects_project-title {
  @extend %related-project-name;
  color: $dark-gray;
  margin-bottom: 0;
}

.related-projects_project-location {
  @extend %related-project-location;
  color: $dark-gray;
  font-family: "Cormorant-Italic", sans-serif;
  font-style: italic;
  margin: 0;
}

.side-nav-parent {
  @extend %side-nav-parent;
  color: $dark-gray;
}

.side-nav-current {
  @extend %side-nav-current;
  color: $dark-gray;
  font-family: "Cormorant-Italic", sans-serif;
  font-style: italic;
}
