$grid-columns: 12;

$side-padding: 1.5em;

$breakpoints: (
	small: 480px,
	medium: 768px,
	large: 967px,
	xlarge: 1024px
);


$z-index: (
	navbar: 10,
	nav-button: 11
);


$background-min-size: (
	small: 610px,
	medium: 760px,
	large: 760px,
	xlarge: 760px
);


$image-sizes: (
	homepage-featured: (
		width: 1265,
		height: 712
	)
);

/*
List of font sizes / attributes
The null key == default styles (no media query)
Values can be one value (size) as px or a list of type attributes e.g.:
(size, color, weight, line-height, letter-spacing, text-transform)
null values in the list will be ommitted
 */
$type-formatting: (
	h1: (
		null: (34px, null, 400, null, .02em, null),
		small: 36px,
		medium: 42px,
		large: 60px,
		xlarge: 64px,
	),
	h2: (
		null: (28px, null, 400, null, .02em, null),
		small: 28px,
		medium: 28px,
		large: 28px,
		xlarge: 28px,
	),
	h3: (
		null: (20px, null, 400, null, .02em, null),
		small: 20px,
		medium: 20px,
		large: 20px,
		xlarge: 20px,
	),
	p-lead: (
		null: (20px, null, 400, 1.3em, .02em, null),
		small: 20px,
		medium: 20px, null, 400, null, .02em, null,
		large: 20px,
		xlarge: 20px,
	),
	p: (
		null: (14px, null, 400, 1.5em, .02em, null),
		small: 14px,
		medium: 14px,
		large: 14px,
		xlarge: 14px,
	),
	role: (
		null: (20px, null, 400, null, .02em, null),
		small: 20px,
		medium: 20px,
		large: 20px,
		xlarge: 16px,
	),
	nav: (
		null: (24px, null, 400, 1.9em, null, null),
		small: 20px,
		medium: 20px,
		large: 20px,
		xlarge: 20px,
	),
	nav-subitem: (
		null: (16px, null, 400, 2.9em, null, null),
		small: 16px,
		medium: 16px,
		large: 16px,
		xlarge: 16px,
	)
);

/*  Assign to vars - then use in type placeholders _placeholders.scss  */
$type-formatting-h1: map-get($type-formatting, 'h1');
$type-formatting-h2: map-get($type-formatting, 'h2');
$type-formatting-h3: map-get($type-formatting, 'h3');
$type-formatting-p-lead: map-get($type-formatting, 'p-lead');
$type-formatting-p: map-get($type-formatting, 'p');
$type-formatting-role: map-get($type-formatting, 'role');
$type-formatting-nav: map-get($type-formatting, 'nav');
$type-formatting-sub-nav: map-get($type-formatting, 'nav-subitem');