@import "mixins/bourbon/bourbon"; // adding bourbon lib
@import "mixins/neat/neat"; // adding neat grid cos bootstrap sucks
@import "base/neat-grid-settings";

@import 'mixins/typography';
@import 'mixins/map-deep-get';
@import 'mixins/media';
@import 'mixins/fluid-image-container';
@import 'mixins/center-crop-absolute';
@import 'mixins/icon-sprites';
@import 'mixins/vertical-align';
@import 'mixins/page-settings';
@import 'mixins/copy-padding';

@import 'colours';
@import 'variables';
@import 'typography';
@import 'placeholders';

/* components */
@import 'nav';
@import 'button';
@import 'header';
@import 'footer';
@import 'background-video';
@import 'times';
@import 'featured-project';
@import 'hero-text';
@import 'page-intro';
@import 'page-intro--filter';
@import 'terms-and-condition-intro';
@import 'body-copy--odd';
@import 'body-copy';
@import 'body-copy--background';
@import 'body-copy--privacy';
@import 'full-width-image-quote';
@import 'hero-image-with-text';
@import 'project-header';
@import 'project-info';
@import 'full-width-image--slim';
@import 'quote--background';
@import 'image-gallery';
@import 'maps';
@import 'related-projects';
@import 'side-nav';
@import 'projects-list';
@import 'news-teaser';


body {
	overflow-x: hidden;
}

.container {
	overflow-x: hidden;
}

.component-wrapper {
	overflow: auto;
	position: relative;

	@include mq(from, medium) {
		@include container();
		padding-top: 1.5em;
	}
}